 .social1{
    width: 164px;
    height: 50px;
    left: 50px;
    top: 400px;
    background: var(--form-bg-color);
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
 .social1:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
 .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-left: 10px;
    margin-bottom: 0;
}
.line1{
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
   
}
 .line1::before{
    content:" ";
    height: 1px;
    width: 148px;
    background: var(--dark-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0.1;
} 
.line1::after{
    content:" ";
    height: 1px;
    width: 148px;
    background: var(--dark-color);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0.1;
}

@media screen and (max-width:768px){
    .social1 {
        width: 150px;
        height: 46px;
      }
      .line1::before,.line1::after{
        width: 140px;
      }
    
}