.hed{
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: var(--primary-color);
    text-transform: uppercase;
   margin-top: 38px;
    text-align: center;
}
@media screen and(max-width:768px){
 .hed{
    font-size: 18px;
 }   
}