.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
@media screen and (max-width:768px){
    .display{
        flex-direction: column;
        margin-bottom: 15px;
    } 
}