.cview{
    border-radius: 8px;
    height: 400px;
    background-color: var(--light-color);
    padding: 10px;
    margin: 20px 0;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
}
@media screen and (max-width:678px) {
    .cview{
       height: max-content;
       margin: 10px 0;
    }
}